AI E-Mail Categorizer.json
{
  "name": "AI E-Mail Categorizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "765bcdb8-4876-49a5-ad0b-e14a8f7bb4a9",
      "name": "Incoming Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "...",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b:free\",\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Categorize this customer support email.\\n\\nPossible categories:\\n- Refund\\n- Delivery Issue\\n- Account Problem\\n- Payment Issue\\n- Technical Support\\n- General Inquiry\\n\\nPriority rules:\\n- High = angry customer, legal threat, fraud, repeated complaint, urgent issue\\n- Medium = important but calm issue\\n- Low = normal inquiry\\n\\nEmail:\\n{{$json[\"snippet\"]}}\\n\\nReturn ONLY valid JSON in this format:\\n{\\n  \\\"category\\\": \\\"CATEGORY\\\",\\n  \\\"priority\\\": \\\"PRIORITY\\\"\\n}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "5314dbde-42d4-43d7-8029-105d4459523b",
      "name": "AI Categorizer"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content;\n\nconst parsed = JSON.parse(raw);\n\nreturn [\n  {\n    json: {\n      category: parsed.category,\n      priority: parsed.priority\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "efcce4e0-70a2-4f2e-9699-aed2e2fdca3f",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a73fdd93-81b8-4f37-be84-891dbd2af619",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "81da054e-f06b-4731-8ca8-47e21d94c633",
      "name": "Check High Priority"
    },
    {
      "parameters": {
        "sendTo": "debz777frosty@gmail.com",
        "subject": "=🚨 High Priority Support Alert - {{ $('Parse AI Output').item.json.category }}",
        "emailType": "text",
        "message": "=High Priority Customer Email Detected\nCategory: {{ $('Parse AI Output').item.json.category }}\nPriority: {{ $('Parse AI Output').item.json.priority }} \n\nCustomer Message: {{ $('Incoming Email').item.json.snippet }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        80
      ],
      "id": "f9a04db4-c467-474e-af77-82a4a532b44a",
      "name": "Escalation Alert Email ",
      "webhookId": "fe90b7d8-4a21-4224-9033-6cf8fb9444c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "...",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional customer support representative. Write empathetic, concise, professional replies.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer email:\\n{{$node[\"Incoming Email\"].json[\"snippet\"]}}\\n\\nCategory:{{ $json.category }} \\nPriority:{{ $json.priority }} \\n\\nWrite a professional customer support email reply.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        368
      ],
      "id": "786181fc-d4a4-406a-b1b5-03af7e94ec5a",
      "name": "AI Reply Generator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b072410-fa02-4c5a-80e6-93855d7360bf",
              "leftValue": "={{ $('Parse AI Output').item.json.priority }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        368
      ],
      "id": "839eb858-6efe-48cf-8da8-e11783a45ec2",
      "name": "Check Auto Reply Eligibility"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Incoming Email').item.json.From }}",
        "subject": "={{ $('Incoming Email').item.json.Subject }}",
        "emailType": "text",
        "message": "={{ $('AI Reply Generator').item.json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        368
      ],
      "id": "28f8f1dd-f808-4b23-be54-f66922e53d94",
      "name": "Send AI Reply",
      "webhookId": "ecf8c845-f7e0-430b-9aaf-52ceda073128",
      "credentials": {
        "gmailOAuth2": {
          "id": "...",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QP-hR2Glk1JXvMnp0yrqBcRutRwxgaWCtgdzIUdLUVY",
          "mode": "list",
          "cachedResultName": "AI Email Categorizer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP-hR2Glk1JXvMnp0yrqBcRutRwxgaWCtgdzIUdLUVY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP-hR2Glk1JXvMnp0yrqBcRutRwxgaWCtgdzIUdLUVY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender": "={{ $('Incoming Email').item.json.From }}",
            "Subject": "={{ $('Incoming Email').item.json.Subject }}",
            "Email": "={{ $('Incoming Email').item.json.snippet }}",
            "Category": "={{ $('Parse AI Output').item.json.category }}",
            "Time": "={{$now}}",
            "Priority": "={{ $('Parse AI Output').item.json.priority }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        368
      ],
      "id": "3bf6e000-6f4e-419f-89f3-a7960453b6d9",
      "name": "Tikect Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "...",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Incoming Email": {
      "main": [
        [
          {
            "node": "AI Categorizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorizer": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Check High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Priority": {
      "main": [
        [
          {
            "node": "Escalation Alert Email ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Reply Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Alert Email ": {
      "main": [
        [
          {
            "node": "AI Reply Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Reply Generator": {
      "main": [
        [
          {
            "node": "Check Auto Reply Eligibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auto Reply Eligibility": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Reply": {
      "main": [
        [
          {
            "node": "Tikect Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "748f1e17-86a0-4c63-97a4-289d63e5c35e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8e639ddb07c590dc08f15bce88b5594f116e7e6de895007193f62428511b5cc"
  },
  "id": "zQF5dFOAb4Co5vbJ",
  "tags": []
}